/* Remove arrow from `<details>` element. */
summary {
    list-style: none;
}
/* Safari compatibility */
summary::-webkit-details-marker {
    display: none;
}

/* Remove up and down arrows from number input */
/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox */
}
